<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Series | Calculator</title>
    <link rel="icon" type="image/x-icon" href="./imgs/favicon.png" />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjs@12.4.2/lib/browser/math.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrapCustom.css" />
    <link rel="stylesheet" href="./css/calculator.css" />

    <script defer src="./calculator.js"></script>
  </head>

  <!--body-->

  <body class="user-select-none">
    <div class="modal fade" tabindex="-1" id="modal-alert">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cannot provide the result</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Cannot calculate the result as some fields are empty.</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-center d-md-none position-absolute rounded-circle bg-primary translate-middle start-50 mobile-circle"
    >
      <div class="h-50"></div>
      <div
        class="h-50 w-80 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="row gx-5 gy-3 h-100 w-100">
          <div class="d-flex align-items-center justify-content-center col-6">
            <button type="button" class="mobile-step">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div
                  class="mobile-icon d-flex align-items-center justify-content-center"
                >
                  1
                </div>
                <h4>Function</h4>
              </div>
            </button>
          </div>

          <div class="d-flex align-items-center justify-content-center col-6">
            <button type="button" class="mobile-step">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div
                  class="mobile-icon d-flex align-items-center justify-content-center"
                >
                  2
                </div>
                <h4>Degree n</h4>
              </div>
            </button>
          </div>
          <div class="d-flex align-items-center justify-content-center col-12">
            <button type="button" class="mobile-step">
              <div
                class="d-flex flex-column align-items-center justify-content-center"
              >
                <div
                  class="mobile-icon d-flex align-items-center justify-content-center"
                >
                  3
                </div>
                <h4>Variables</h4>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row w-100 h-100 m-0">
      <div class="col-6 d-none d-md-flex">
        <aside
          class="circle row rounded-circle translate-middle bg-primary vw-sm-90 vw-lg-70 vw-xl-60 vw-xxl-50 vh-sm-90 vh-lg-70 vh-xl-60 vh-xxl-50"
        >
          <div class="col-4"></div>
          <div class="col row h-100">
            <div class="d-flex align-items-center justify-content-center col-8">
              <button type="button" class="step-btn step-btn-selected">
                <h1
                  class="step-header d-flex align-items-center justify-content-center"
                >
                  <span
                    class="icon d-flex align-items-center justify-content-center"
                    >1</span
                  >Insert the function
                </h1>
              </button>
            </div>
            <div
              class="d-flex align-items-center justify-content-center col-12"
            >
              <button type="button" class="step-btn">
                <h1
                  class="step-header d-flex align-items-center justify-content-center"
                >
                  <span
                    class="icon d-flex align-items-center justify-content-center"
                    >2</span
                  >Insert the degree
                </h1>
              </button>
            </div>
            <div class="d-flex align-items-center justify-content-center col-8">
              <button type="button" class="step-btn">
                <h1
                  class="step-header d-flex align-items-center justify-content-center"
                >
                  <span
                    class="icon d-flex align-items-center justify-content-center"
                    >3</span
                  >Insert the variables
                </h1>
              </button>
            </div>
          </div>
        </aside>
      </div>

      <main class="col-12 col-md-6 d-flex flex-column mw-80 p-0 m-0 container">
        <div class="h-100 w-100">
          <div class="h-20 d-block d-md-none"></div>
          <div
            class="w-100 h-100 d-flex flex-column justify-content-center align-items-center"
          >
            <!--Function-->
            <div class="mb-3 w-75 w-md-50 tab">
              <label for="function" class="form-label d-flex align-items-center"
                ><span
                  class="icon-helper d-flex justify-content-center align-items-center"
                  ><button
                    class="popover-btn"
                    type="button"
                    data-bs-placement="left"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-title="Function"
                    data-bs-content="Represents the function that we want to approximate using the Taylor polynomial."
                  >
                    i
                  </button></span
                >Function</label
              >
              <input
                type="text"
                class="form-control input-field mb-2"
                id="function"
                placeholder="sin(x)..."
              />
            </div>

            <!--Degree-->
            <div class="mb-3 w-75 w-md-50 tab">
              <label for="degree" class="form-label d-flex align-items-center"
                ><span
                  class="icon-helper d-flex justify-content-center align-items-center"
                  ><button
                    class="popover-btn"
                    type="button"
                    data-bs-placement="left"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-title="Degree"
                    data-bs-content="Represents the degree of the polynomial, which corresponds to the number of terms used in the approximation. "
                  >
                    i
                  </button></span
                >Degree</label
              >
              <input
                type="text"
                class="form-control input-field mb-2"
                id="degree"
                placeholder="5 or 7..."
              />
            </div>

            <!--Variables-->
            <div class="mb-3 w-75 w-md-50 tab">
              <label
                for="xwithzeroVar"
                class="form-label d-flex align-items-center"
                ><span
                  class="icon-helper d-flex justify-content-center align-items-center"
                  ><button
                    class="popover-btn"
                    type="button"
                    data-bs-placement="left"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-title="x₀"
                    data-bs-content="This is the point of expansion around which the function is approximated"
                  >
                    i
                  </button></span
                >x₀</label
              >
              <input
                type="text"
                class="form-control input-field mb-2"
                id="xwithzeroVar"
                placeholder="5 or 7..."
              />
              <label for="xVar" class="form-label d-flex align-items-center"
                ><span
                  class="icon-helper d-flex justify-content-center align-items-center"
                  ><button
                    class="popover-btn"
                    type="button"
                    data-bs-placement="left"
                    data-bs-toggle="popover"
                    data-bs-trigger="focus"
                    data-bs-title="x"
                    data-bs-content="The x value for which to calculate the polynomial."
                  >
                    i
                  </button></span
                >x</label
              >
              <input
                type="text"
                class="form-control input-field mb-2"
                id="xVar"
                placeholder="5 or 7..."
              />
              <div class="my-5">
                <label
                  for="result-field "
                  class="form-label d-flex align-items-center"
                  ><span
                    class="icon-helper d-flex justify-content-center align-items-center"
                    ><button
                      class="popover-btn"
                      type="button"
                      data-bs-placement="left"
                      data-bs-toggle="popover"
                      data-bs-trigger="focus"
                      data-bs-title="Result"
                      data-bs-content="This is the result of the polynomial, an approximasion of the function."
                    >
                      i
                    </button></span
                  >Result</label
                >
                <div class="input-group">
                  <input
                    type="text"
                    id="result-field"
                    class="form-control input-field"
                    placeholder="result..."
                    readonly
                  />
                  <button class="btn btn-primary" type="button" id="result-btn">
                    Calculate result
                    <span
                      id="spinner"
                      class="spinner-border spinner-border-sm visually-hidden"
                    ></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
