<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taylor Series | Home</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="icon" type="image/x-icon" href="./imgs/favicon.png" />

    <link rel="stylesheet" href="./css/bootstrapCustom.css" />
  </head>
  <body class="bg-secondary-subtle">
    <div class="h-100">
      <div class="circle vw-sm-90 vh-sm-90 vw-95 vh-95 vw-md-80 vh-md-80"></div>
      <div class="position-absolute formula1">
        <img
          src="./imgs/taylorSeries-formula.png"
          class="img-fluid"
          alt="TaylorSeriesFormula"
        />
      </div>
      <div class="position-absolute formula2">
        <img
          src="./imgs/taylorSeries-formula.png"
          class="img-fluid"
          alt="TaylorSeriesFormula"
        />
      </div>
      <div
        class="w-md-60 mw-100 m-md-5 m-2 h-100 d-inline-flex flex-column justify-content-center"
      >
        <h1 class="mb-2 text-md-left text-center">
          Taylor Series Calculator, the calculator your math teacher needed.
        </h1>
        <a href="/calculator" class="align-self-center align-self-sm-start">
          <button type="button" class="btn btn-primary">Get Started</button>
        </a>
      </div>
    </div>
  </body>
</html>
