:root {
  --primary: #4a90e2;
  --primaryVariant: #ffa500;
  --secondary: #aab2bd;
  --secondaryVariant: #1b3a4b;
  --mintGreed: #6dd5a3;
  --background: #c2c2c2;
}

body {
  overflow: hidden !important;
}

.formula-top-left {
  transform: rotateZ(-15deg);
  left: -15px;
}

.circle {
  background: var(--primary);
  top: 0;
  min-width: clamp(1000px, 50%, 1400px);
  min-height: clamp(1000px, 50%, 1400px);
  max-width: clamp(1400px, 50%, 1700px);
  max-height: clamp(1400px, 50%, 1700px);
  right: -20% !important;
  z-index: -5 !important;
}

h1 {
  color: var(--secondaryVariant) !important;
}

.formula1 {
  top: 3%;
  right: -2%;
  transform: rotateZ(25deg);
}
.formula2 {
  bottom: 3%;
  left: -3%;
  transform: rotateZ(-25deg);
}
